body{
    background-image:url("https://i.pinimg.com/564x/27/10/ea/2710eaa1738385cc20c7930216b3992e.jpg");
    background-size: cover;
}


div 
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(250, 171, 183);

}

